beautifulsoup4==4.14.3
datasets==4.5.0
dotenv==0.9.9
gensim==4.4.0
matplotlib==3.10.8
mplcursors==0.7
nltk==3.9.2
numpy==2.4.2
pandas==3.0.1
pymongo==4.16.0
python-dotenv==1.2.2
Requests==2.32.5
scikit_learn==1.8.0
utils==1.0.2
wordcloud==1.9.6
